{% extends "base.html" %}
{% load staticfiles %}

{% block navbar_menu %}
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
{#            <li class="dropdown">#}
{#              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Настройки <b class="caret"></b></a>#}
{#              <ul class="dropdown-menu">#}
{#                <li><a id="change_password_button" href="#">Сменить пароль</a></li>#}
{#              </ul>#}
{#            </li>#}
            <li class="show_tree active"><a href="#">Проекты</a></li>
            <li class="show_nii"><a href="#">НИИ</a></li>
            <li><a id="logout" href="#">Выход</a></li>
        </ul>
    </div>
    <script src="{% static "js/base_menu.js" %}"></script>

    <div id="change_password_window" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Смена пароля</h4>
                    </div>
                    <div class="modal-body">
                        <div id="change_password" class="k-edit-form-container" style="width: inherit;">
                            <div class="k-edit-label">
                                <label>Старый пароль<span class="required">*</span>:</label>
                            </div>
                            <div class="k-edit-field">
                                    <input type="password" class="k-textbox" name="current_password" required placeholder="Старый пароль"
                                       style="width: 100%"
                                       data-bind="value: current_password"/>
                            </div>
                            <div class="k-edit-label">
                                <label>Новый пароль<span class="required">*</span>:</label>
                            </div>
                            <div class="k-edit-field">
                                <input type="password" class="k-textbox" name="new_password" required placeholder="Новый пароль"
                                       style="width: 488px"
                                       data-bind="value: new_password"/>
                                <span class="k-button" title="Показать пароль" style="float: right; margin-right: 0"
                                        data-bind="events: { click: show_password }">
                                    <span class="glyphicon glyphicon-eye-open"></span> Показать пароль</span>
                                <span data-for='new_password' class='k-invalid-msg'></span>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                        <button id="password_save" type="button" class="btn btn-primary btn-sm">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.navbar-collapse -->
{% endblock %}
