{% extends "base_menu.html" %}
{% load staticfiles %}
{% block title %}Главная страница{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
{% endblock %}
{% block script %}
    <script src="{% static "kendo/js/kendo.web.min.js" %}"></script>
    <script src="{% static "js/main/project_tree.js" %}"></script>
    <script src="{% static "js/main/nii.js" %}"></script>
    <script src="{% static "js/main/main.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="tree section">
        <div id="project_tree"></div>
    </div>

    <div class="nii section" style="display: none" > <!--  -->
        <span id="back" class="k-button"><span class="glyphicon glyphicon-arrow-up"></span>Показать проекты</span>
        <input id="nii" style="width: 500px"/>
        <span class="nii_new k-button"><span class="glyphicon glyphicon-plus"></span></span>
        <span class="nii_edit k-button"><span class="glyphicon glyphicon-pencil"></span></span>
        <span class="nii_delete k-button"><span class="glyphicon glyphicon-remove"></span></span>
        <div class="nii_info">
            <p id="nii_name"></p>
{#            <p id="nii_university"></p>#}
        </div>
        <div id="nii_projects"></div>
        <div id="nii_employee"></div>
    </div>

    <div id="change_direction_window" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Редактирование направления</h4>
                    </div>
                    <div class="modal-body">
                        <div id="change_direction" class="k-edit-form-container" style="width: inherit;">
                            <div class="k-edit-label">
                                <label>Название<span class="required">*</span>:</label>
                            </div>
                            <div class="k-edit-field">
                                <input type="text" class="k-textbox" name="name" required
                                       placeholder="Название направления"
                                       style="width: 100%"
                                       data-bind="value: name"/>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                        <button id="direction_save" type="button" class="btn btn-primary btn-sm">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="change_project_window" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Редактирование проекта</h4>
                    </div>
                    <div class="modal-body">
                        <div id="change_project" class="k-edit-form-container" style="width: inherit;">
                            <div class="k-edit-label">
                                <label>Название<span class="required">*</span>:</label>
                            </div>
                            <div class="k-edit-field">
                                <input type="text" class="k-textbox" name="name" required placeholder="Название проекта"
                                       style="width: 100%"
                                       data-bind="value: name"/>
                            </div>
                            <div class="k-edit-label">
                                <label>Описание:</label>
                            </div>
                            <div class="k-edit-field">
                                <textarea
                                        placeholder="Описание проекта" class="k-textbox"
                                        data-bind="value: description" style="width: 100%; height: 150px;"> </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                        <button id="project_save" type="button" class="btn btn-primary btn-sm">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="add_nii_window" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Редактирование проекта</h4>
                    </div>
                    <div class="modal-body">
                        <div id="add_nii" class="k-edit-form-container" style="width: inherit;">
                            <div class="k-edit-label">
                                <label>Выберите Нии из списка<span class="required">*</span>:</label>
                            </div>
                            <div class="k-edit-field">
                                <span class="nii_new k-button" style="float: right">
                                    <span class="glyphicon glyphicon-plus"></span></span>
                                <input data-role="combobox"
                                        data-auto-bind="false"
                                        data-value-primitive="true"
                                        data-text-field="name"
                                        data-value-field="id"
                                        data-bind="source: nii_list, value: selected_nii, events: {change: onChange}"
                                        style="width: 94%"
                                        required
                                        />
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                        <button id="add_nii_save" type="button" class="btn btn-primary btn-sm">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="change_nii_window" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Редактирование НИИ</h4>
                    </div>
                    <div class="modal-body">
                        <div id="change_nii" class="k-edit-form-container" style="width: inherit;">
                            <div class="k-edit-label">
                                <label>Название<span class="required">*</span>:</label>
                            </div>
                            <div class="k-edit-field">
                                <input type="text" class="k-textbox" name="name" required placeholder="Название проекта"
                                       style="width: 100%"
                                       data-bind="value: o.name"/>
                            </div>
                            <div class="k-edit-label">
                                <label>Подчиняется:</label>
                            </div>
                            <div class="k-edit-field">
                                <input data-role="combobox" name="university" style="width: 100%"
                                        data-value-primitive="true"
                                        data-placeholder="Выберите из списка или введите новое значение"
                                        data-filter="contains"
                                        data-text-field="name" data-value-field="id"
                                        data-bind="source: university_list, value: o.university" />
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                        <button id="nii_save" type="button" class="btn btn-primary btn-sm">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="change_employee_window" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Редактирование сотрудника</h4>
                    </div>
                    <div class="modal-body">
                        <div id="change_employee" class="k-edit-form-container" style="width: inherit;">
                            <div class="k-edit-label">
                                <label>Фамилия<span class="required">*</span>:</label>
                            </div>
                            <div class="k-edit-field">
                                <input type="text" class="k-textbox" name="surname" required placeholder="Фамилия" style="width: 100%"
                                       data-bind="value: o.surname"/>
                            </div>
                            <div class="k-edit-label">
                                <label>Имя<span class="required">*</span>:</label>
                            </div>
                            <div class="k-edit-field">
                                <input type="text" class="k-textbox" name="name" required placeholder="Имя" style="width: 100%"
                                       data-bind="value: o.name"/>
                            </div>
                            <div class="k-edit-label">
                                <label>Отчество:</label>
                            </div>
                            <div class="k-edit-field">
                                <input type="text" class="k-textbox" name="patronymic" placeholder="Отчество" style="width: 100%"
                                       data-bind="value: o.patronymic"/>
                            </div>
                            <div class="k-edit-label">
                                <label>Должность:</label>
                            </div>
                            <div class="k-edit-field">
                                <input data-role="combobox" name="post" style="width: 100%"
                                        data-value-primitive="true"
                                        data-placeholder="Выберите из списка или введите новое значение"
                                        data-filter="contains"
                                        data-text-field="name" data-value-field="id"
                                        data-bind="source: post_list, value: o.post" />
                            </div>
                            <div class="k-edit-label">
                                <label>Телефон:</label>
                            </div>
                            <div class="k-edit-field">
                                <input type="text" class="k-textbox" name="tel" placeholder="Телефон" style="width: 100%"
                                       data-bind="value: o.tel"/>
                            </div>
                            <div class="k-edit-label">
                                <label>Эллектронный адресс:</label>
                            </div>
                            <div class="k-edit-field">
                                <input type="text" class="k-textbox" name="mail" placeholder="Эллектронный адресс" style="width: 100%"
                                       data-bind="value: o.mail"/>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                        <button id="employee_save" type="button" class="btn btn-primary btn-sm">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script id="project_tree_template" type="text/kendo-ui-template">
        # if (item.type.substring(0, 4) == "add_") { #
            <span class="tree-item tree-add-item">#: item.name #
                <span class="tree-item-buttons">
                    <span data-id="#: item.id #" class="k-button #: item.type#"><span class="glyphicon glyphicon-plus"></span></span></span>
                </span>
        # } else if (item.type == "nii") { #
            <span class="tree-item">#: item.name #
                <span class="tree-item-buttons">
                    <span data-id="#: item.id #" class="k-button more_#: item.type#">Подробнее...</span>
                    <span data-id="#: item.id #" class="k-button delete_#: item.type#"><span class="glyphicon glyphicon-remove"></span></span>
                </span>
            </span>
        # } else { #
            <span class="tree-item">#: item.name #
                <span class="tree-item-buttons">
                    <span data-id="#: item.id #" class="k-button edit_#: item.type#"><span class="glyphicon glyphicon-pencil"></span></span>
                    <span data-id="#: item.id #" class="k-button delete_#: item.type#"><span class="glyphicon glyphicon-remove"></span></span>
                </span>
            </span>
        # } #
    </script>

    <script type="text/x-kendo-template" id="nii_employee_header_template">
        <span class="k-button add_nii_employee k-state-disabled" data-nii-id="0"><span class="k-icon k-i-plus"></span> Добавить сотрудника</span>
    </script>

    <script type="text/x-kendo-template" id="nii_projects_detail_template">
        <p></p>
    </script>
{% endblock %}